:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn {
  display: inline-block;
  border-radius: 8px;
  border: 1px solid transparent;
  border: 2px solid #555;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-right: 5px;
}

.btn:hover {
  border-color: #646cff;
}

.todo-item {
  background-color: #38333c;
  padding: 5px;
  margin: 10px 10px;

  color: rgb(255, 255, 225);

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 5px;
  border: 2px solid #555;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #555;
  min-width: 200px;
  height: 30px;
  font-size: 1.3rem;
  margin-right: 5px;
  margin-bottom: 5px;
}

.todoText {
  text-align: left;
}

.delBtn {
  color: rgb(137, 78, 78);
}

.checkBtn {
  color: #557558;
}

.delBtn:hover {
  color: rgb(255, 0, 0);
  transition: all 0.3s ease-in-out;
}

.checkBtn:hover {
  color: #00ff1a;
  transition: all 0.3s ease-in-out;
}

.checkBtn-completed {
  color: #00ff1a;
}

.todoIcon {
  color: #aba2d1;
}
